<h1><%= @shelter.name %></h1>
<h2><%= link_to 'Adoptable Pets', "/shelters/#{@shelter.id}/pets"%></h2>
<div class='center-div'>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip Code: <%= @shelter.zip_code %></p>
<%= link_to 'Update This Shelter', "/shelters/#{@shelter.id}/edit", class: 'button-left'%>
<%= link_to 'Delete This Shelter', "/shelters/#{@shelter.id}", method: :delete, class: 'button-right' %>
</div>

<section class= 'center-div'>
  <% @shelter.reviews.each do |review| %>
    <section id=reviews<%"#{review.id}"%>
</br>
      <p> Review #<%=review.id%> </p>
      <p><%= review.title%> </p>
      <p><%= review.rating %> stars</p>
      <p> <b> Review: </b> <%= review.content %></p>
        <% if "#{review.image_url}".present? %>
              <p>  <%= image_tag("#{review.image_url}", {:style => "width:80%; height: 175px;"}) %> </p>
        <% else %>
              <p>  </p>
        <% end %>
      <p><%= link_to 'Edit This Review', "/reviews/#{review.id}/edit"%></p>
      <p><%= link_to 'Delete This Review', "/reviews/#{review.id}", method: :delete%></p>
    </section>
 <%end%>
</section>
<h2><%= link_to 'Create A New Review', "/shelters/#{@shelter.id}/reviews/new"%></h2>
