<h1><%= @shelter.name %></h1>
<div class='error-div'>
  <%= render "shared/flash" %>
</div>
<div class='center-div'>
<h2><%= link_to 'See All Adoptable Pets', "/shelters/#{@shelter.id}/pets"%></h2>
<p>Address: <%= @shelter.address %></br>
City: <%= @shelter.city %></br>
State: <%= @shelter.state %></br>
Zip Code: <%= @shelter.zip_code %></p>

<section>
<p><%=@shelter.name%> is currently housing <%= @shelter.count_pets %> pets.</br>
<%=@shelter.name%> has <%=@shelter.application_count%> applications on file.</br>
<%=@shelter.name%> has an average review rating of <%=@shelter.review_ave %>.</p>
<p><%= link_to 'Update This Shelter', "/shelters/#{@shelter.id}/edit"%></br>
<%= link_to 'Delete This Shelter', "/shelters/#{@shelter.id}", method: :delete %></p>
</section>

</div></br>

<h2><%= link_to 'Create A New Review', "/shelters/#{@shelter.id}/reviews/new"%></h2>

  <% @shelter.reviews.each do |review| %>
    <section id=reviews<%"#{review.id}"%>
</br> <div class = 'center-div'>
      <h2> Review #<%=review.id%> </h2>
      <h3><%= review.title%> </h3>
      <h3><%= review.rating %> stars</h3>
      <p> <b> Review: </b> <%= review.content %></p>
        <% if "#{review.image_url}".present? %>
              <p>  <%= image_tag("#{review.image_url}", {:style => "width:300px;"}) %> </p>
        <% end %>

      <p><%= link_to 'Edit This Review', "/reviews/#{review.id}/edit"%></p>
      <p><%= link_to 'Delete This Review', "/reviews/#{review.id}", method: :delete%></p>
    </section>
 <%end%>
</div>
