<h1>All Pending Applications</h1>
<div class='center-div'>
  <%= @application.name %>
  <%= @application.address %>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zip %>
  <%= @application.phone_number %>
  <%= @application.description %>

  <% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <%= link_to "Approve Application for #{pet.name}", "/pets/#{pet.id}/#{@application.id}/pet_applications?is_adoptable=#{pet.is_adoptable}&approval_status=#{@application.approval_status}", method: :patch %>
  <%end %>
</div>
