<h1>All Pending Applications</h1>
<div class='error-div'>
  <%= render "shared/flash" %>
</div>
<div class='center-div'>
  <p>Name: <%= @application.name %></p>
  <p>Address:  <%= @application.address %></br>
  <%= @application.city %>,
  <%= @application.state %>
  <%= @application.zip %> </p>
  <p>Phone: <%= @application.phone_number %> </p>
  <p>Why Should You Be Approved: <%= @application.description %></p>
  <h2> Pet(s) on Application</h2>
  <% @application.pets.each do |pet| %>

    <p> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% if !pet.is_adoptable %>

        <%= link_to "Revoke Approved Application for #{pet.name}", "/pets/#{pet.id}/#{@application.id}/pet_applications?is_adoptable=#{pet.is_adoptable}&revoke=#{pet.pet_applications.first.approval_status}", method: :patch %></p>
      <% else %>
        <%= link_to "Approve Application for #{pet.name}", "/pets/#{pet.id}/#{@application.id}/pet_applications?is_adoptable=#{pet.is_adoptable}&approval_status=#{pet.pet_applications.first.approval_status}", method: :patch %></p>
    <% end %>
  <% end %>
</div>
