<h1> Edit Pet Listing </h1>
<div class='error-div'>
  <%= render "shared/flash" %>
</div>
<% if @pet.errors.any? %>
 <p class ='center-div'><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</p>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
<% end %>
<h2><%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %></h2>
<div class='form-style'>
<legend><h2> Edit the following information: </h2><legend>
<%= render partial: 'form', locals: {path: "/pets/#{@pet.id}",
method: :patch, button_text: 'Submit'}%>
</div>
