<div class='error-div'>
  <%= render "shared/flash" %>
</div>
<div class='center-div'>
  <%= image_tag("#{@pet.image_url}", {:style => "width:300px;"}) %>
<h2><%= @pet.name %></h2>
  <p>Description: <%= @pet.description %></p>
  <p>Approximate Age: <%= @pet.approximate_age%></p>
  <p>Gender: <%= @pet.sex %></p>
<% if @pet.is_adoptable %>
  <p>Status: Adoptable</p>
<% else %>
  <p>Status: Adoption Pending</p>
<% end %>
<% @pet.applications.each do |app| %>
    <% if app.approval_status %>
  <p>On hold for <%= link_to app.name, "/applications/#{app.id}" %> </p>
    <% end %>
<% end %>

<p class = 'center'><%= link_to 'Edit Pet', "/pets/#{@pet.id}/edit" %>
<p class = 'center'><%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
<% if !@favorites.include?(@pet.id.to_s) %>
<p class ='center'>  <%= link_to 'Favorite This Pet', "/favorites/#{@pet.id}", method: :patch %></p>
<%else%>
  <p class ='center'><%= link_to 'Delete This Pet From Favorites', "/favorites/#{@pet.id}", method: :delete %></p>
<%end%>
<p class = 'center'><%= link_to 'View All Applications for this Pet', "/pets/#{@pet.id}/applications" %></p>

</div>
