<h1> Edit This Review </h1>
<div class='error-div'>
  <%= render "shared/flash" %>
</div>
<div class='center-form'>
<h2> Edit the following information: </h2>
<%= form_tag "/reviews/#{@review.id}", method: :patch do %>
  <%= label_tag 'Title' %>
  <%= text_field_tag :title, @review.title %><br/>
  <%= label_tag :rating %>
  <%= select_tag :rating, (raw('<option value = 1 > 1 </option>, <option value = 2 > 2 </option>,
                              <option value = 3 > 3 </option>, <option value = 4 > 4 </option>, <option value = 5 > 5 </option>' )) %> </br>
  <%= label_tag 'Review' %>
  <%= text_field_tag :content, @review.content %><br/>
  <%= label_tag 'Image URL' %>
  <%= text_field_tag :image_url, @review.image_url%><br/>
<%= submit_tag 'Submit' %>
<% end %>
</div>
